/* Your Styles */

/* Load Google Font*/
  @import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

  /* Style Tile with CSS Variables */
  /* Global css variables */
  :root {
  --color1 : #848484;
  --color2 : #891024;
  --font1 : 'Fredoka', sans-serif;
  }


/* diagnostic styling. remove when done */
/* * {
    outline: 1px dotted gray;
} */

/* Layout with css grid */
body {
    display: grid;
    background: var(--color1);
}

main {
    /* css grid */
    place-self: center;

    /* flexbox */
    display: flex;
    flex-wrap: wrap;
}

figure {

    background: (--color2);
    padding: 30px;
    border-radius: ;



 margin: 10px;
 /* set your width */
 width: 300px;
}
  
/* Backdrop for modal overlay */
::backdrop {
    background: rgba(153, 9, 9, 0.75);
}

/* Animation */
dialog {

    border: none;
    box-shadow: #848484;



    animation: tada 1s;
}

/* Typographhy */
h2 {
font-family: 'Fredoka'; sans-serif;
font-size: ; 2rem
text-align: ; center; 

}
