/* Your Styles */

/* Load Google Font*/
  @import url('http://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

  /* Style Tile with CSS Variables */
  /* Global css variables */
  :root {
  --color1 : #dad2c9;
  --color2 : #c7af8c;
 
  }


/* diagnostic styling. remove when done */
/* * {
    outline: 1px dotted gray;
} */

/* Layout with css grid */
body {
    display: grid;
    background: var(--color1);
}

main {
    /* css grid */
    place-self: center;

    /* flexbox */
    display: flex;
    flex-wrap: wrap;
}

figure {

    background: (--color2);
    padding: 30px;
    border-radius: ;



 margin: 10px;
 /* set your width */
 width: 300px;
}
  
/* Backdrop for modal overlay */
::backdrop {
    background: rgba(212, 182, 147, 0.75);
}

/* Animation */
dialog {

    border: none;
    box-shadow: #ffffff;



    animation: jello 1s;
}

/* Typographhy */
h2 {
font-family: 'Tilt Prism', cursive:Arial, Helvetica, sans-serif
font-size: ; 2rem
text-align: ; center; 

}
